:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}

/*///////////////BASE//////////////*/
body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo a{
    color: var(--vermelho);
    font-family: Arial;
    font-size: 48px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;   
    transition: .5s ease all; 
}

header nav a:hover{
    color: #fff;
}


/*///////////////////FILME PRINCIPAL////////////////////////*/

main .filmeprincipal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../img-anime/demon-slayer-filme.png);
     /*PARA AJUSTE DA IMAGEM*/
    height: 400px; /*TAMANHO DA CAIXA*/
    background-size: cover;/*PARA IMG SE AJUSTAR AO TAMANHO DA CAIXA*/
    
    /*ADICIONANDO DISPLAY FLEX*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
}

main .filmeprincipal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

main .filmeprincipal .container .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

                            /*ACESSE FONT ASWAOME*/

main .botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 10px 25px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all; /*ANIMAÇÃO PARA HOVER*/
}

main .botao:hover{
    background-color: white;
    color: var(--preto);
}

.botao i{
    margin-right: 8px;
}

.container{  /*WRAPPER E CONTAINER NA AULA 6*/
    margin-left: 10px;
}

.filmeprincipal .container{
    width: 80%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.continuar-assistindo{
    padding: 10px;
    padding-bottom: 0;
}

.carrosel-filmes{
    margin-top: 5px;
}

/*////////////PAGE NARUTO//////////////*/

.page-fundo-naruto{
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(https://www.themoviedb.org/t/p/original/koY8N9Y8IcLlb2eJXz50X1hFUL5.jpg);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.logo-naruto-page img{
    width: 400px;
    padding-left: 10px;
}
